body {
  background-image: url("./images/amazing-austria-dawn-1323550.jpg");
  background-attachment:fixed;
  background-size: auto;
  width: 100%;
  background-size: cover;
  background-position: 0 100%;
  background-color: #e9ecef;
  font-family: 'Lato',sans-serif;
}

.App {
  text-align: center;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: rgba(0,0,0,.65);
  z-index: 1;
  justify-content: space-between;
  padding-top: 10px; 
  color: #fff;
}

.print_share {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 130px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,.65);
  position: fixed;
  top: 55px;
  bottom: 0;
  width: 200px;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay, .ReactModal__Overlay--after-open {
  background-color: transparent;
  position: fixed;
  padding: 0%;
}
.ReactModal__Content--after-open {
  margin: 5% 20% 5% 20%;
  height: fit-content;
}
.create-form-container, .create-form-container-small {
  padding: 2%;
  background: lightyellow;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25em;
  
}
.trip-list > button {
  margin: 8px 35px 20px;
  background-color: #faebd773;
  color: ghostwhite;
  font-size: 20px;
  font-weight: 800;
  border: none;
}
.list-group-item-success {
  background-color: #386C0B;
  color: white;
}
.list-group-item-warning{
  background-color: #E0CA3C;
  color: #2F2F2F;
}

.trip-list > ul {
  margin-right: 10px; 
  padding-left: 10px; 
}
.trip-list > ul > a {
  padding: 3px;
  box-shadow: 8px;
}
.list-group {
  box-shadow: 8px white;
}
.trip-list > h4 {
  color: #fff;
}

main {
  margin-left: 200px;
  top: 55px;
  display: flex;
  width: 85%;
  justify-content: space-around;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.items_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.trip_title {
  color: #ffff;
  z-index: 1;
  position: fixed;
  align-items: center;
  display: flex;
  top: 15px;
}

.trip_title > h3 {
  padding-right: 20px;
}

.trip_title > .fa-trash-alt {
  margin: 0 .5rem .5rem .5rem;
  font-size: 20px;
}

.trip_title > .fa-trash-alt:hover {
  font-size: 25px;
}

.trip_duration {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.card {
  min-width: 70%;
  margin: 2% 0;
  font-size: 1.15rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 12px 0px #424040;
  transition: 0.3s;
}
.card-header {
  background-color: #dfe3e6;
  padding: .25rem;
}
.card:hover {
  box-shadow: 0 12px 24px 0px #424040;
}
.card-header > img {
  max-height: 60%;
}
.card-header > h4 {
  font-weight: bolder;
}
.card-body {
  text-align: start;
}
.card-body-lower {
  padding-top: 2px;
}
.card-body-upper {
  padding-bottom: 6px;
}
.item-card-head{
  display: inline;
}
.card-footer {
  padding: .25rem;
}
.card-reco {
  border: 2px solid rgb(248, 245, 245);
}
.card-reco-center {
  display: flex;
  align-items: center;
}
.card-reco-body {
  justify-content: space-between;
  margin-right: 0;
  margin-left: 0;
}
.card-reco-body > .card-text {
  min-width: 35vw;
}


.card-reco-body > .card-text > div {
  display: flex;
}

.card-reco-body > .card-text > div > img {
  height: 2.25rem;
  margin-right: 10px;
}

.logo {
  display: flex;
  width: 300px;
  align-items: flex-start;
  justify-content: space-evenly;
}

.logo > h2 {
  color: #f6f6f6;
  font-family: 'Courgette', cursive;
  font-weight: 700;
}
.fa-home, .fa-print, .fa-share-alt, .fa-sign-out-alt {
  color: #fff;
}

.add_new_buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  position: fixed;
  z-index: 1;
  padding-top: 3px;
  top: 60px;
}

.add_new_buttons > div > button {
  background-color: #6c757d;
  color: ghostwhite;
  font-size: 20px;
  font-weight: 800;
  border: none;
}

.cards_list {
  padding-top: 107px;
}

.landing {
  background-color: #ffff;
}

.splash {
  background-image: url("./images/balconies-beach-blue-water.jpg");
  width: 100%;
  height: 50vw;
  background-size: cover;
}

.splash-login {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.splash-login > button {
  margin: 5px;
  font-size: 1.25em;
  font-weight: 600;
  padding: 0 35px;
  border: 2px solid #15572485;
}

.call-to-action {
  display: flex;
  align-items: center;
  flex-direction: column; 
}

.call-to-action > h1 {
  background-color: rgba(0,0,0,.65);
  color: #ffff;
  font-size: 4em;
  border-radius: 10px;
  padding: 13px;
  margin-bottom: .5rem;
}

.call-to-action > button {
  margin: 45px 5px;
  font-size: 2em;
  font-weight: 600;
  padding: 23px 35px;
  border: 2px solid #212529b8;
}

.benefits {
  display: inline-flex;
}

.benefits > div {
  border: 2px solid #ccccccfc;
  width: 33.33vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px;
}

.benefits > div > h4 {
  margin-bottom: 25px;
  color: #004085d6;
  font-weight: bolder;
}

.benefits > div > i {
  color: #ffc107d9;
}

footer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 1px solid grey;
  height: 30px;
  background-color: aliceblue;
}

.form-title  {
  border-bottom: 2px solid black;
  margin: 10px
}

.fa-plus, .fa-trash-alt, .fa-edit {
  float: right;
  font-size: 1em;
  cursor: pointer;
  opacity: 0.5;
  margin: .5rem;
}

.fa-trash-alt:hover, .fa-edit:hover, .fa-plus:hover {
  opacity: 1;
  font-size: 1.5em;
}

.fa-trash-alt {
  color: red;
}

.fa-edit {
  color: orange;
}

.fa-plus {
  color: green;
}

.fa-share-alt:hover {
  cursor: pointer;
}

.edit-bt {
  position: relative;
}

.fa-2x:hover {
  font-size: 2.15em;
}

.edit-bt:hover .edit-hint {
  visibility: visible;
  opacity: 1;
}

.edit-bt .edit-hint {
  visibility: hidden;
  width: 120px;
  background-color: orange;
  color: darkblue;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  bottom: 120%;
  left: 50%;
  /* margin-left: -60px; */
  opacity: 0;
  transition: opacity 1s;
}
.overlay {
  position: absolute;
  top: 25%;
  left: 10%;
  right: 10%;
}

.carousel-pointer:hover{
  cursor: pointer
}

@media print {
  .print_share, .side-bar, .trip-list, .add_new_buttons, .far, .fas, .to_time {
    display: none;
  }
  main, .items_container, .cards_list {
    margin-left: 0;
    width: 100%;
  }
  .card-body {
    padding: 5px;
  }
  .cards_list {
    padding-top: 0;
  }
}

.card-t {
  background-image: url('./images/plane.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: white;
}

.form-group > .btn {
  margin-right: 0.5%;
  border: 1px;
}
form {
  padding: 0% 2%;
}
.form-control {
  margin-right: 0.5%
}
.location-search-input {
  min-width: 75%;
}

.suggestion-item {
  background-color: #ffffff;
  cursor: pointer;
}
.suggestion-item--active {
  background-color: green;
  cursor: pointer;
  color: white;
}

.empty-card {
  margin-top: 60px;
  background-color: #aef0d98a;
  font-weight: bolder;
  border-radius: .025rem;
  padding: 10px;
}

.home-card {
  margin-top: 90px;
  background-color: #95c6e68a;
  font-weight: bolder;
  border-radius: .25rem;
  padding: 20px;
}
.react-datepicker-wrapper, .react-datepicker__input-container {
  width: 100%;
}
